# St.Johns Yu-Gi-Oh! Meta Visualization

## By: Conrad Brown

## Imported Libraries

In [1]:
import pandas as pd
import plotly.express as px
import dataframe_image as dfi

import ipywidgets as widgets
from ipywidgets import interact

## Organizing data

In [2]:
#Import the .csv file for the multiple visualizations need in this
df = pd.read_csv('YuGiOh Top Players - 2023.csv')
df

,Name,Archetype,Variant,Placement,Date,Format,Day
0,"Bugden, Johnny",Spright,Tri-Brigade,1.0,1/4/2023,12/01/2022,Wednesday
1,"Sharpe, Chris",ABC,Adventurer Token,2.0,1/4/2023,12/01/2022,Wednesday
2,"Good, Keenan",Swordsoul,Tenyi,3.0,1/4/2023,12/01/2022,Wednesday
3,"Marshall, Nick",Dinosaur,Pure,4.0,1/4/2023,12/01/2022,Wednesday
4,"Good, Keenan",Swordsoul,Tenyi,1.0,1/8/2023,12/01/2022,Sunday
...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,
995,NaN,NaN,NaN,NaN,NaN,NaN,
996,NaN,NaN,NaN,NaN,NaN,NaN,
997,NaN,NaN,NaN,NaN,NaN,NaN,
998,NaN,NaN,NaN,NaN,NaN,NaN,

## Sunday Data

In [3]:
df = df.dropna()
dffff = df[df['Format'] == '02/13/2023']
df

,Name,Archetype,Variant,Placement,Date,Format,Day
0,"Bugden, Johnny",Spright,Tri-Brigade,1.0,1/4/2023,12/01/2022,Wednesday
1,"Sharpe, Chris",ABC,Adventurer Token,2.0,1/4/2023,12/01/2022,Wednesday
2,"Good, Keenan",Swordsoul,Tenyi,3.0,1/4/2023,12/01/2022,Wednesday
3,"Marshall, Nick",Dinosaur,Pure,4.0,1/4/2023,12/01/2022,Wednesday
4,"Good, Keenan",Swordsoul,Tenyi,1.0,1/8/2023,12/01/2022,Sunday
...,...,...,...,...,...,...,...
303,"Josh, Ryan",Fire King,Pure,4.0,12/13/2023,09/25/2023,Wednesday
304,"Wells, Koady",Unchained,Pure,1.0,12/20/2023,09/25/2023,Wednesday
305,"Baker, River",Rescue-Ace,Sinful-Spoil,2.0,12/20/2023,09/25/2023,Wednesday
306,"Wells, Nick",Fire King,Tri-Brigade,3.0,12/20/2023,09/25/2023,Wednesday
307,"Critch, Matthew",Vanquish Soul,Pure,4.0,12/20/2023,09/25/2023,Wednesday

In [5]:
players_top = df['Name'].value_counts().reset_index()
'players_top = players_top.style.background_gradient()'
dfi.export(players_top, "Total_Top_Players.png",table_conversion = 'matplotlib')
players_top

FileNotFoundError: [Errno 2] No such file or directory: "C:\\Users\\CJ'SCO~1\\AppData\\Local\\Temp\\tmp89hquo6g\\temp.png"

In [ ]:
fig = px.pie(players_top, values='Name', names='index', title = 'Total Tops', width = 1000, height = 1000)
fig.show()

In [ ]:
Decks_top = df['Archetype'].value_counts().reset_index()
Decks_top

In [ ]:
Decks_organized = Decks_top
Decks_organized.loc[Decks_organized['Archetype'] < 4, "index"] = 'Other'
Decks_organized.groupby('index').sum().sort_values('Archetype', ascending=False)

In [ ]:
fig = px.pie(Decks_organized, values='Archetype', names='index', title = 'Total Decks', width = 1000, height = 1000)
fig.show()

In [ ]:
Decks_Other = df['Archetype'].value_counts().reset_index()
Decks_Other = Decks_Other.loc[Decks_Other['Archetype'] < 4]
Decks_Other.groupby('index').sum().sort_values('Archetype', ascending=False)

In [ ]:
fig = px.pie(Decks_Other, values='Archetype', names='index', title = 'Other Decks', width = 1000, height = 1200)
fig.show()

In [ ]:
Variant_Decks_top = df['Variant'].value_counts().reset_index()
Variant_Decks_top

In [ ]:
Decks_Variants = df[['Archetype','Variant']].reset_index()
Decks_Spright = Decks_Variants[Decks_Variants['Archetype'] =='Spright']
Decks_Spright = Decks_Spright['Variant'].value_counts().reset_index()

In [ ]:
fig = px.pie(Decks_Spright, values='Variant', names='index', title = 'Spright Variants', width = 1000, height = 1000)
fig.show()

In [ ]:
Decks_Despia = Decks_Variants[Decks_Variants['Archetype'] =='Despia']
Decks_Despia = Decks_Despia['Variant'].value_counts().reset_index()
Decks_Despia

# Sunday Results

In [ ]:
df_Sunday = df[df['Day'] == 'Sunday']
df_Sunday

In [ ]:
Sunday_Decks_top = df_Sunday['Archetype'].value_counts().reset_index()
Sunday_Decks_top

In [ ]:
Sunday_Decks_top_organized = Sunday_Decks_top
Sunday_Decks_top_organized.loc[Sunday_Decks_top_organized['Archetype'] < 4, "index"] = 'Other'
Sunday_Decks_top_organized.groupby('index').sum().sort_values('Archetype', ascending=False)

fig = px.pie(Sunday_Decks_top_organized, values='Archetype', names='index', title = 'Sunday Total Decks', width = 1000, height = 1000)
fig.show()

In [ ]:
Sunday_Decks_Other = df_Sunday['Archetype'].value_counts().reset_index()
Sunday_Decks_Other = Sunday_Decks_Other.loc[Sunday_Decks_Other['Archetype'] < 4]
Sunday_Decks_Other.groupby('index').sum().sort_values('Archetype', ascending=False)

In [ ]:
fig = px.pie(Sunday_Decks_Other, values='Archetype', names='index', title = 'Sunday Other Total Decks', width = 1000, height = 1000)
fig.show()

In [ ]:
Sunday_players_top = df_Sunday['Name'].value_counts().reset_index()
'players_top = players_top.style.background_gradient()'
dfi.export(Sunday_players_top,"Sunday_Total_Top_Players.png")
Sunday_players_top

# Wednesday Results

In [ ]:
df_Wednesday = df[df['Day'] == 'Wednesday']
df_Wednesday

In [ ]:
Wednesday_Decks_top = df_Wednesday['Archetype'].value_counts().reset_index()
Wednesday_Decks_top

In [ ]:
Wednesday_Decks_top_organized = Wednesday_Decks_top
Wednesday_Decks_top_organized.loc[Wednesday_Decks_top_organized['Archetype'] < 3, "index"] = 'Other'
Wednesday_Decks_top_organized.groupby('index').sum().sort_values('Archetype', ascending=False)

fig = px.pie(Wednesday_Decks_top_organized, values='Archetype', names='index', title = 'Wednesday Total Decks', width = 1000, height = 1000)
fig.show()

In [ ]:
Wednesday_players_top = df_Wednesday['Name'].value_counts().reset_index()
'players_top = players_top.style.background_gradient()'
dfi.export(Wednesday_players_top,"Wednesday_Total_Top_Players.png")
Wednesday_players_top

In [ ]:
Wednesday_Decks_Other = df_Wednesday['Archetype'].value_counts().reset_index()
Wednesday_Decks_Other = Wednesday_Decks_Other.loc[Wednesday_Decks_Other['Archetype'] < 4]
Wednesday_Decks_Other.groupby('index').sum().sort_values('Archetype', ascending=False)

fig = px.pie(Wednesday_Decks_Other, values='Archetype', names='index', title = 'Wednesday Other Total Decks', width = 1000, height = 1200)
fig.show()